body {
	margin: 0px auto;
	font-family: Arial, sans-serif;
	text-decoration: none;
}
  
  
/* header */
.header{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 20px 30px;
}
.header a{
    text-decoration: none;
    margin-right: 20px; 
    color: black;
    font-size: 13px; 
    cursor: pointer;
    
}
.header_left a{
    color: rgba(0,0,0,0.70);
}
 
.header a:hover{
    text-decoration: underline;
} 
 .header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
	/* min-width: 13px; */
}

span{
	margin-right: 10px;	
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
	
}
.menu:hover{
	color: black;
}

.user{
    background-color: rgba(66,133,244,255);
    border-radius: 2px;
    height: 30px;
    width: 70px;
    border: 0;
    color: white;
    cursor: pointer;
    
}

.user:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
}
    /* header end */

   /*main start*/
  
  #content {
	/* margin-top: 90px; */
}
  
.logo {
	/* text-align: center;
	margin-top: 180px; */
	height: 95px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	
}
  
.search {
	width: 460px;
	height: 38px;
	margin: 0px auto;
	position: relative;
	margin-top: 10px;
	text-align: center;
	
}
  
.search .input {
	display: block;
	border: 1px solid lightgray;
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	padding: 13px;
	padding-left: 0px;
	border-radius: 25px;
	width: 100%;
	outline: none;
}
  
.search .input:hover {
	box-shadow: 3px 3px 5px lightgray;
}
  
.search-icon {
	width: 30px;
	height: 30px;
	opacity: 0.4;
	position: absolute;
	top: 10px;
	left: 14px;
	cursor: pointer;
}
  
#content .search .vs-icon {
	width: 18px;
	position: absolute;
	top: 13px;
	right: 7px;
	height: 23px;
	cursor: pointer;
}
  
.search .vs-icon:hover {
	opacity: 0.8;
}
  
  
.search button {
	border: 1px solid transparent;
	padding: 9px 15px;
	color: #5f6368;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 8px;
	margin-top: 28px;
	cursor: pointer;
}
  
.search button:hover {
	color: black;
	border: 1px solid #aaa;
	box-shadow: 0.7px 0.7px 0.7px lightgray;
}
  
.lang{
	text-align: center;
	margin-top: 20px;
	font-size: small;

}
.lang a{
	color: navy
}
footer {
	width: 100%;
	padding-left: 5px;
	background-color: #f2f2f2;
	line-height: 40px;
	font-size: 14px;
	position: fixed;
	bottom: 0;
	
}
  
.footer{
	  border-bottom: 1px solid #e4e4e4;
	  margin-left: 13px;
	  color: #5f6368;
}
  
.nav {
	color: #5f6368;
	text-decoration: none;
	padding: 10px;
}
  
.f_left {
	float: left;
}
  
.f_right {
	float: right;
	margin-right: 25px;
}